 :root{
  --primary-color:#E54065;
  --secondary-color:#F4F5F9;
  --border-color:#CFD2DC;
  --text-color:#636363;
  --Filter-color:#E1E4EA;
  --read-color:#F2F2F2;
 }

 .mail-box{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--secondary-color);
 }

 .all-mail-container{
  min-width: 25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
 }

  .view{
   flex-direction: row;
 }
